.counterUp {
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 40px 0;
  }
  .content {
    display: flex;
    justify-content: space-around;
  }
  .box {
    text-align: center;
  }
  .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .counter {
    font-size: 36px;
    font-weight: bold;
  }
  .text {
    font-size: 16px;
    color: #f1f1f1;
  }
  